.basement__social-networks {
  margin-bottom: 60px;

  @include desktop {
    margin-left: 70px;
  }
}

.social-networks__title {
  margin-bottom: 20px;
  font-family: inherit;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--background-color);

  text-align: center;

  @include desktop {
    text-align: left;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @include desktop {
    justify-items: center;
  }
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-btn-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    outline: 0px;
  }
}
